.badge-success {
   background-color: red !important;
}

.badge-fail {
    background-color: #34B934 !important;
}

.question-choice {
    background-color: #B2DFDB !important;
    border-color: #B2DFDB !important;
    margin-right: 20px;
}

.alert-success {
    background-color: #69F0AE !important;
}

.alert-danger {
    background-color: #F8BBD0 !important;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-text {
    color: white !important;
}

.navbar-inverse, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    border-color: #337ab7 !important;
    background-color: #337ab7 !important;
}
