{% extends 'layout/layout.html' %}

{% block content %}
    <div class="jumbotron">
        <h1>Quizz des capitales</h1>
        <p>Devenez un expert des capitales du monde !</p>
    </div>

    <div class="row" data-ng-hide="isConnected">
        <div class="col-sm-16">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Connexion</h3>
                </div>
                <div class="panel-body">
                    <fieldset class="form-group">

                        <form name="loginForm" data-ng-submit="connectUser()">
                            <input type="text" class="form-control" id="login" placeholder="Votre login" data-ng-model="login" required>
                            <br/>
                            <button type="submit" class="btn btn-primary">Je veux jouer !</button>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-show="isConnected">
        <div class="row" data-ng-init="initQuizz()">
            <div class="col-sm-16">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Quelle est la capitale du pays "<span data-ng-bind="question.country"></span>" ?</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <button type="button" class="btn btn-lg btn-default question-choice"
                                    data-ng-repeat="city in question.cities track by $index"
                                    data-ng-bind="city"
                                    data-ng-click="answer(city)"></button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-success" role="alert" data-ng-show="showSuccessMessage">
            Bien joué !
        </div>
        <div class="alert alert-danger" role="alert" data-ng-show="showFailedMessage">
            <strong>Mauvaise réponse</strong>, <a href="/revisions">il faut réviser encore !</a>
        </div>

        <div data-ng-show="userScore">
            <div class="page-header">
                <h1>Votre score</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Nombre de questions répondues : <span data-ng-bind="userScore.questions"></span></p>
                    <p>Nombre de réponses correctes : <span data-ng-bind="userScore.success"></span></p>
                    <p>Ratio de réponses correctes : <span data-ng-bind="userScore.success * 100 / userScore.questions"></span>%</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


