{% extends 'layout/layout.html' %}

{% block content %}
<div class="jumbotron">
    <h1>Un peu de révision</h1>
    <p>Avant de jouer, révisez vos classiques !</p>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Pays</th>
                <th>Ville</th>
            </tr>
            </thead>
            <tbody>
                <!-- TODO : rendre la liste des capitales dynamiques -->
                <tr>
                  <td>France</td>
                  <td>Paris</td>
                </tr>
                <tr>
                  <td>Allemagne</td>
                  <td>Berlin</td>
                </tr>
                <tr>
                  <td>Espagne</td>
                  <td>Madrid</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
